body{
 background: transparent url(pattern.jpg);
 background-attachment: fixed; 
 background-repeat: no-repeat;
 color:white;
 font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;	
 padding:10px;
}

ul{
 font-size:16px;
 list-style: none;
}

li{
 cursor:pointer;
}